@mixin editor {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	
	&.cursor-hover{ cursor: grab; }
	&.cursor-dragging{ cursor: grabbing; }
}
@mixin toolbar
{
	position:absolute;
	display: flex;
	flex-flow: row nowrap;
	top: 5px; left: 5px;
	font: 12px / 16px $font;
	height: 16px;
	z-index: 3;
	
	> label:not(:first-child)
	{
		display: flex;
		align-items: center;
		margin: 0px 0px 0px 10px;
	}
	input[type="checkbox"]
	{
		position: relative;
		top: -1px;
	}
}
@mixin desktop
{
	position: absolute;
	z-index: 1;
}
@mixin layer
{
	position: absolute;
	width: 100%;
	height: 100%;
}
@mixin status-fill
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	background: rgba(0, 0, 0, .2);
	> :deep(.box)
	{
		padding: 10px 15px;
		background: #fff;
	}
}
@mixin status-top
{
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 2;
	background: linear-gradient(180deg, rgba(50, 50, 50, .3) 0%, rgba(50, 50, 50, .1) 50%, rgba(50, 50, 50, 0) 100%);
}
@mixin status-text
{
	text-align: center;
	h1{
		margin: 0px;
		font: bold 18px / 22px $font;
	}
	h2{
		margin: 0px;
		font: 11px / 16px $font;
	}
}
@mixin dots-animation {
	&:after
	{
		position:absolute;
		animation:dots 1s linear infinite;
		content: "";
	}
}
@keyframes dots {
	0% {content: "";}
	33% {content: ".";}
	66% {content: "..";}
	100% {content: "...";}
}
