@mixin editor {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	
	&.cursor-hover{ cursor: grab; }
	&.cursor-dragging{ cursor: grabbing; }
}
@mixin toolbar
{
	position:absolute;
	display: flex;
	flex-flow: row nowrap;
	top: 5px; left: 5px;
	font: 12px / 16px $font;
	height: 16px;
	z-index: 3;
	
	> label:not(:first-child)
	{
		display: flex;
		align-items: center;
		margin: 0px 0px 0px 10px;
	}
	input[type="checkbox"]
	{
		position: relative;
		top: -1px;
	}
}
@mixin status-fill
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .2);
	z-index: 2;
}
@mixin desktop
{
	position: absolute;
	z-index: 1;
}
@mixin layer
{
	position: absolute;
}
